<footer class="siteFooter d-flex justify-content-between py-1 mt-auto">
    <div class=" col-md-4 d-flex align-items-center" bis_skin_checked="1">
        <a href="/campsites" class="mb-3 me-2 mb-md-0 text-secondary text-decoration-none lh-1">
            <img src="/assets/logo.png" alt="Logo" width="28" height="28" class="d-inline-block align-text-top">
            קמפינגIL©
        </a>
    </div>
    <div class="text-secondary-emphasis">
        <span class="d-block text-secondary">שאלה? תקלה? דיווח?</span>
        <a href="https://youtu.be/dQw4w9WgXcQ" class="d-block">צרו קשר</a>
    </div>
</footer>