<!DOCTYPE html>
<html dir="rtl" lang="he">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampsitIL</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="/css/starReview.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src='https://api.mapbox.com/mapbox-gl-js/v3.9.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.9.2/mapbox-gl.css' rel='stylesheet' />

</head>

<body class="d-flex flex-column vh-100">

    <%- include('../partials/navbar') %>

        <main id="mainContainer" class="container-fluid">

            <%- include('../partials/flash') %>

                <%- body %>

        </main>

        <script src="/javascript/bootstrap.bundle.js"></script>
        <script src="/javascript/formValidation.js"></script>
</body>

<%- include('../partials/footer') %>

</html>